#intro {
  width: 580px;

  margin-right: 64px;
}



#buttons {
  display: flex;
  justify-content: space-evenly;

  margin: 32px 0;
}

button {
  background: none;
  color: #ff5e84;
  border: none;

  font-size: 14px;
  line-height: 18px;
  letter-spacing: .2px;

  cursor: pointer;
  font-weight: bold;
}

button:hover {
  text-decoration: underline;
}

footer {
  text-align: center;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: .2px;

  color: #777;
}

footer a {
  opacity: .7;
}
