<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/Global.css">
  <link rel="stylesheet" href="./css/Ideias.css">
  <link rel="stylesheet" href="./css/Intro.css">
  <link rel="stylesheet" href="./css/App.css">
  <link rel="stylesheet" href="./css/Modal.css">
  <link rel="stylesheet" href="./css/ideax.css">
  <title>Ideias - Casa criativa</title>
</head>

<body id="page-ideas">
  <div id="App">
    <header>
      <li><a href="/">Logo Marca</a></li>
      <nav>
        <li><a href="/">Início</a></li>
        <li><a class="button" href="#" onclick="onOff()">Nova Ideia</a></li>
      </nav>
    </header>
    <section id="title">
      <p>Em exibição</p>
      <h1>Ideias</h1>
    </section>
    <main>
      <section id="ideas">
        <!-- Ideas -->
        {% include "ideasx.html" %}
      </section>
    </main>
    <footer>
      Com * <a target="_blank" href="https://rocketseat.com.br">Rocketseat</a>
    </footer>
  </div>

  <!-- Modal -->
  {% include "modal.html" %}

  <script src="../src/index.js"></script>
</body>

</html>
